




body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/jXh4x22bJ15295dvJ5P1r2vVqnYMDgwh0xsmTNIZ8QdkXXUGX1Sa0EH2N-2QfnB0j4XkKedJKpzfFUiIPGE8e9XAZL7vSdIHOlgGXj90KlGNQLJhqt0G3mSMOXgJC3eD2bPOujUpBPTs-4Lk9KMHiHtsCrOkFztpn-_ei7bOHwgMVPzwOHx4E6g-jhzEmwttRufdRDKH8v8XfPVRdjaRojfCTIepCft3VELvAgGe7wHePhYpvUQEwZufhK5xX11H9fiK76o-fk_cVJePeBLHZkfFb-jLUhL9C6yo-iznR9wTLXFwq9FLZGoOK6i4wTodvrI3hMvjYUH6vlFlGx2PXDbV4YNd6fuIDR1z_FjG7vSWc_zcGKZ40PbH-FlrGY4LdlWfTFfeoA7nFxFMTFrZAFURo1JHVQ-Ctv2wsvZ0K43jZX_OSeM0NndZwez1YeU3O0YQNOHwAObRs2eBF7TUPPL7lrqX4DKpvcdzYnCZigp3Fx2nOSM06R9t-leYTp_B7g4MD5ROS-IjjfxUkIBLeMrEsXclqfMduVplOXdGcS7ryfM1n7jU7ozlX4UEAl30ZqEnk7H9Mfsyc8HXIh7nc_dIiFOY6yOR0Q3JaNs=w727-h576-no);
  height: 400px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #938E89;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #3E3B3B;
  text-align: left;
}

/* Roast types */
.green {
  background-color: rgb(143, 188, 143);
}

.light {
  background-color: rgb(160, 82, 45);
}

.city {
  background-color: rgb(139, 69, 19);
}

.vienna {
  background-color: #A52A2A;
}

.italian {
  background-color: #000000;
}

/* Typography */
h1 {
  color: #3E3B3B;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {
  color: #3E3B3B;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #3E3B3B;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  color: #3E3B3B;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #3E3B3B;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #3E3B3B;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
